@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'YoungSerif';
    src: url('/fonts/YoungSerif-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'lemon-wide';
    src: url('/fonts/lemon-wide.otf') format('opentype');
}

@font-face {
    font-family: 'lemon-regular';
    src: url('/fonts/lemon-regular.otf') format('opentype');
}

@font-face {
    font-family: 'HKGrotesk-regular';
    src: url('/fonts/HKGrotesk-regular.otf') format('opentype');
}

@font-face {
    font-family: 'HKGrotesk-Bold';
    src: url('/fonts/HKGrotesk-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'HKGrotesk-SemiBold';
    src: url('/fonts/HKGrotesk-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Vogue';
    src: url('/fonts/Vogue.ttf') format('truetype');
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html {
        height: -webkit-fill-available;
        height: 100%;
    }

    body {
        min-height: -webkit-fill-available;
        height: 100%;
        overflow: hidden;
        overscroll-behavior-y: none;
        background-color: #0E0504;
        position: relative;
    }

    #root {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}
